.card {
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &:hover {
    @apply z-auto;
    animation: SizeAnimate 1s ease;
    transform: scale(1);
  }
}

.card__image {
  width: 300px;
  height: 210px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  position: relative;

  >img {
    width: 100%;
    height: 100%;
  }
}

.card__content {
  @apply p-4;
  display: flex;
  flex-direction: column;
  position: relative;

  >h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

@keyframes SizeAnimate {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}