.navbar_list {
  @apply flex justify-between items-center w-full;
}

.items_list_desktop {
  @apply flex items-center;
  list-style: none;

  >li {
    @apply flex justify-center items-center w-32 rounded-lg p-2 relative;

    &.__active {
      >::after {
        @apply bg-brand-secondary absolute w-10 h-10 left-6;
        content: "";
        border-radius: 50%;
        opacity: 0.3;
        animation: SizeAnimate 1s ease;
      }
    }
  }

  :hover {
    @apply cursor-pointer underline;
  }
}

.items_list_mobile {
  @apply flex-col items-center;
  list-style: none;

  >li {
    @apply flex justify-center items-center w-screen p-2 relative bg-brand-dark text-brand-light;
  }

  :hover {
    @apply cursor-pointer underline;
  }
}

.logo {
  >svg {
    padding: 0.5em;
    width: 64px;
    height: 64px;
  }
}

@keyframes SizeAnimate {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}